*{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

strong{
color: dodgerblue;
}

header{
    background-color: white;

    border-radius: 10px;

    /* box-shadow value is sensitive asf, it cannot stand a chance to commas. e.g. 0px, 5px, 5px (this wouldn't work) */
    box-shadow: 0px 0px 8px rgba(0,0,0, 0.2);
}

.list-flex{
        display: flex;
    gap: 10px;
}

/* rgba is sensitive asf too, rgba (value) wouldn't work */
body{
    background-color: rgba(0, 0, 0, 0.1);
}


li{
    list-style: none;
    text-decoration: none;
    display: inline-block;
    color: dodgerblue;
    font-size: 25px;
    font-weight: bold;

}
/* no compromise in space. eg .li :hover; wouldn't work */
li:hover{
    list-style: none;
    display: inline-block;
    color: dodgerblue;
    font-size: 25px;
    font-weight: bolder;
    cursor: pointer;
    text-decoration: underline;
}

a{
    text-decoration: none;
    color: dodgerblue;
}







    
    .whole{
        margin-top: 20px;
    }
    
    .profile-pic{
        width: 250px;
        height: 250px;
        border-radius: 50%;
        /* background-image: url(/300px\ bradahh.png); */
        display: block;
        margin-left: auto;
        margin-right: auto;
        box-shadow: 0px 1px 3px 1px dodgerblue;
    }
    
    .picture-div{
        text-align: center;
    }
    
    .name-heading{
        text-align: center;
        color: dodgerblue;
        font-size: 55px;
    }
    








    .headings{
        color: dodgerblue;
        border-radius: 10px;
        padding: 4px;
        width: 180px;
        box-shadow: inset 0px 0px 2px 1px dodgerblue;
        text-align: center;
        /* For centering the headings, i used margin smh, i hope ther is another way to do that. */
        margin-left: 25%;
    }



    .cv-div{
text-align: center;
    }


    
    .box1, .box2, .box3{
        display: inline-block;
        width: 400px;
        margin: 20px;
        padding: 20px;
        background-color: white;
        border-radius: 10px;
        box-shadow: 0px 4px 8px rgba(0,0,0, 0.5);
    }



    
    footer {
        margin: 10px;
        padding: 10px;
                border-radius: 10px;
                background-color: white;
                color: rgb(74, 71, 71);
                padding: 20px;
                text-align: center;
                margin-top: 40px;
                box-shadow: 0px 4px 8px rgba(0,0,0, 0.5);
            }
    
    
    
            footer .social-links a {
                color: dodgerblue;
                text-decoration: none;
                padding-right: 10px;
                font-size: 18px;
            }
    
            footer .social-links a:hover {
                text-decoration: underline;
            }
    
